<%= form_with(model: post, local: true, url: choose_new_or_edit) do |form| %>
  <% if post.errors.any? %>
  <div id="error_explanation" class="py-2 text-light text-center bg-danger w-100">
      <h6><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h6>
  
      <ul class=" text-dark text-center bg-light">
          <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
  </div>
  <% end %>
  
  
  <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control"%>
  </div>
  
  
  <div class="actions m-3" style="">
      <%= form.submit %>
  </div>
  <% end %>